.myprofile-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1), 0 0.375em 1.25em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 22em;
    height: auto;
    margin: 2em;
    padding: 3em;
    border-radius: 0.5em;

    h2 {
      text-align: center;
      margin-top: -0.3em;
      margin-bottom: 0;
      color: #333;
    }

    .profile-view {
      display: flex;
      flex-direction: column;
      justify-content: center
    }

  }
