.editprofile-page {
    h3 {
        text-align: center;
        margin-top: 0.7em;
    }

    .input-label-field {
        display: flex;
        justify-content: right;
    }

    input {
        margin-left: 1em;
    }

    textarea {
        margin-left: 1em;
        margin-bottom: 1em;
        width: 15.3em;
        height: 8em;
        padding: 0.2em;
        border-radius: 0.3em;
        font-size: 1em;
        box-sizing: border-box;
        resize: none;
    }

    .edit-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }

    #submit-button {
        background-color: rgb(63, 63, 63);
        color: white;
        padding: 0.5em;
        margin: 0.5em;
        width: fit-content;
    }

    #cancel-button {
        padding: 0.5em;
        width: fit-content;
        border-color: grey;
    }
}