  .myposts-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1), 0 0.375em 1.25em rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 32em;
    height: auto;
    margin: 2em;
    padding: 3em;
    border-radius: 0.5em;

  h2 {
    text-align: center;
    margin-top: -0.3em;
    margin-bottom: 0;
    color: #333;
  }

  .my-posts {
    margin: 1em;
  }

  .title-likes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
  }

  .title {
    font-weight: bold;
  }

  .likes {
    min-width: max-content;
    padding-left: 1em;
  }

  .description-deletepost {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
  }

  .delete-post {
    height: fit-content;
    border-color: gray;
    margin-left: 0.8em;
  }

  .delete-post:hover {
    background-color: #cf0000!important;
    color: white;

  }
}